$mainColor: #1e1e1e;
$headerColor: #252525;
$borderColor: #323232;
$shadowColor: #101010;

$borderHoverColor: #656565;

// buttons
$btnColor: #5858ee;
$btnHoverColor: #6363ff;
$btnActiveColor: #9595ff;

// text
$logoColor: #ffffff;
$TitleColor: #e0e0e0;
$TitleHoverColor: #ececec;
$paginationNumColor: #808080;