$mainColor: #252525;
$headerColor: #303030;
$borderColor: #454545;
$shadowColor: #1d1d1d;

$borderHoverColor: #656565;

// buttons
$btnColor: #67727a;
$btnHoverColor: #9e9eb0;
$btnActiveColor: #a3adcc;

// text
$btnTxtColor: white;
$logoColor: #ffffff;
$TitleColor: #e0e0e0;
$TitleHoverColor: #ffffff;
$paginationNumColor: #808080;