$mainColor: #252525;
$headerColor: #2e2e2e;
$shadowColor: #1d1d1d;
$footerColor: #212121;

$borderColor: #393939;
$borderHoverColor: #656565;

// buttons
$btnColor: #5c6368;
$btnHoverColor: #9e9eb0;
$btnActiveColor: #a3adcc;

// text
$btnTxtColor: white;
$logoColor: #ffffff;
$TitleColor: #d4d4d4;
$TitleHoverColor: #ffffff;
$paginationNumColor: #a1a1a1;